/************** BEGIN main **************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 12px Helvetica, Arial, sans-serif;
  background: #fff;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/*************** END main **************/

/*************** BEGIN greed **************/

.left {
  float: left;
}

.right {
  float: right;
}

.container::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.col1 {
  width: 60px;
}

.col2 {
  width: 140px;
}

.col3 {
  width: 220px;
}

.col4 {
  width: 300px;
}

.col5 {
  width: 380px;
}

.col6 {
  width: 460px;
}

.col7 {
  width: 540px;
}

.col8 {
  width: 620px;
}

.col9 {
  width: 700px;
}

.col10 {
  width: 780px;
}

.col11 {
  width: 860px;
}

.col12 {
  width: 940px;
}

.pre1 {
  margin-left: 60px;
}

.pre2 {
  margin-left: 140px;
}

.pre3 {
  margin-left: 220px;
}

.pre4 {
  margin-left: 300px;
}

.pre5 {
  margin-left: 380px;
}

.pre6 {
  margin-left: 460px;
}

.pre7 {
  margin-left: 540px;
}

.pre8 {
  margin-left: 620px;
}

.pre9 {
  margin-left: 700px;
}

.pre10 {
  margin-left: 780px;
}

.pre11 {
  margin-left: 860px;
}

.pre12 {
  margin-left: 940px;
}

/*************** END greed **************/

/*************** BEGIN header **************/

.header-top {
  background: url("../img/bg_pattern.png");
  height: 46px;
}

.nav-top ul {
  border-left: 1px solid #5a595d;
  border-right: 1px solid #807f83;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 230px;
}

.nav-top li {
  display: inline-block;
  margin-right: -4px;
}

.nav-top a {
  font: 700 14px/46px 'PT Sans', Helvetica, Arial, sans-serif;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 3px #000;
  display: inline-block;
  padding: 0 30px;
  border-left: 1px solid #807f83;
  border-right: 1px solid #5a595d;
}

.nav-top a:hover,
.nav-top a:focus {
  border-left: 1px solid #2e2d31;
  border-right: 1px solid #2e2d31;
  -webkit-box-shadow: 0 0 40px #2c3b3e inset;
          box-shadow: 0 0 40px #2c3b3e inset;
}

.login {
  line-height: 46px;
}

.login input {
  background: transparent;
  border-bottom: 1px solid #919191;
  border-left: none;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  border-right: none;
  border-top: 1px solid #131214;
  -webkit-box-shadow: 0 0 200px rgba(0,0,0,.5) inset;
          box-shadow: 0 0 200px rgba(0,0,0,.5) inset;
  color: #fff;
  font-size: 12px;
  width: 150px;
  height: 32px;
  line-height: 14px;
  margin-left: 10px;
  outline: none;
  padding: 0 25px;
}

.login input::-webkit-input-placeholder {
  color: #eee;
}

.header-bottom {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f4f4f4));
  background: -webkit-linear-gradient(#f6f6f6, #f4f4f4);
  background: linear-gradient(#f6f6f6, #f4f4f4);
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 1px 1px #d8d8d8;
          box-shadow: 0 1px 1px #d8d8d8;
  height: 76px;
}

.header-bottom .logo {
  background: url("../img/logo.png") no-repeat;
  display: block;
  height: 76px;
  text-indent: -100%;
  width: 140px;
}

.nav-bot ul {
  font: 14px/76px 'PT Sans', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bot ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 45px;
  line-height: 45px;
  border-left: 1px solid #ebebeb;
}

.nav-bot ul li a {
  display: inline-block;
  height: 100%;
  padding: 0 30px;
  color: #68676a;
  text-decoration: none;
  border-left: 1px solid #fafafa;
  text-shadow: 0 1px 1px #fff;
}

.nav-bot ul li a:hover,
.nav-bot ul li a:focus {
  color: 000;
}

.nav-bot ul li a::after {
  background: url("../img/icons.png") left top no-repeat;
  content: '';
  padding: 10px;
  position: relative;
  right: -8px;
  top: 18px;
}

.nav-bot ul li a:hover::after,
.nav-bot ul li a:focus::after {
  background: url("../img/icons.png") -20px top no-repeat;
}

/*************** END header *************/

/*************** BEGIN banner *************/

.banner {
  background: url("../img/main_image.jpg") center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ebe7df), to(#e8e4da));
  background: url("../img/main_image.jpg") center no-repeat, -webkit-linear-gradient(#ebe7df, #e8e4da);
  background: url("../img/main_image.jpg") center no-repeat, linear-gradient(#ebe7df, #e8e4da);
  height: 415px;
  border-bottom: 1px solid rgba(240,240,240,.6);
  border-top: 1px solid #d8d8d8;
}

.banner-content {
  margin-top: 50px;
}

.banner-content h2 {
  color: #0073bf;
  font-size: 34px;
  font-weight: 100;
  margin: 0;
  text-shadow: 0 1px 1px #fff;
}

.banner-content h4 {
  color: #919191;
  font-size: 17px;
  font-weight: 100;
  margin: 4px 0;
  text-shadow: 0 1px 1px #fff;
}

.check-button,
.join-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfc), to(#f7f5f3));
  background: -webkit-linear-gradient(#fdfdfc, #f7f5f3);
  background: linear-gradient(#fdfdfc, #f7f5f3);
  border: 1px solid #d3d1c8;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px #f1efe9;
          box-shadow: 0 1px 1px #f1efe9;
  font-size: 13px;
  margin: 18px 0 0;
  padding: 18px 28px;
  width: 300px;
}

.check-button {
  height: 52px;
}

.join-button {
  height: 120px;
}

.check-button a {
  text-decoration: none;
  color: #0073bf;
  line-height: 100%;
}

.check-button a::after {
  font: 20px 'Quicksand', sans-serif;
  content: '>';
  color: #858585;
  margin-left: 10px;
}

.check-button a:hover,
.check-button a:focus {
  color: #0055ff;
}

.join-button .label {
  color: #67666a;
  padding: 10px;
  display: block;
  margin-top: 0;
  text-align: center;
}

.join-button button {
  font: 16px 'PT Sans', Helvetica, Arial, sans-serif;
  height: 40px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#499aea), to(#207ce5));
  background: -webkit-linear-gradient(#499aea, #207ce5);
  background: linear-gradient(#499aea, #207ce5);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #0073bf;
  color: #fff;
  text-shadow: 0 -1px 2px #1c55dc;
  -webkit-box-shadow: 0 1px 1px #abd0f4 inset;
          box-shadow: 0 1px 1px #abd0f4 inset;
}

.join-button button::after {
  font: 12px 'Quicksand', sans-serif;
  content: ">";
  margin-left: 10px;
}

.join-button button:hover,
.join-button button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#3889d9), to(#096bd4));
  background: -webkit-linear-gradient(#3889d9, #096bd4);
  background: linear-gradient(#3889d9, #096bd4);
}

.join-button button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#096bd4), to(#3889d9));
  background: -webkit-linear-gradient(#096bd4, #3889d9);
  background: linear-gradient(#096bd4, #3889d9);
}

/*************** END banner *************/

/*************** BEGIN feature *************/

.feature-top {
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d8d8d8;
  padding-bottom: 40px;
  overflow: hidden;
}

.feature-top article {
  color: #7e7e7e;
  font-weight: 100;
  text-shadow: 0 0 1px #fff;
}

.feature-top h3 {
  font: 100 29px Helvetica, Arial, sans-serif;
  margin: 10px 0 0;
}

.feature-top .feature-icon {
  height: 44px;
  margin-top: 20px;
  width: 40px;
}

.website .feature-icon {
  background: url("../img/icons.png") -40px top no-repeat;
}

.design .feature-icon {
  background: url("../img/icons.png") -40px -41px no-repeat;
}

.simplicity .feature-icon {
  background: url("../img/icons.png") -40px -88px no-repeat;
}

.feature-top p {
  font-size: 13px;
  line-height: 20px;
  margin: 10px 0;
}

.feature-top a {
  font: 700 12px 'Quicksand', sans-serif;
  text-decoration: none;
  color: #0073bf;
  text-shadow: 0 0 0 1px #c7d5e5;
}

.feature-top a:hover,
.feature-top a:focus {
  color: #0055ff;
}

.feature-bottom {
  border-bottom: 1px solid #8e8e8e;
  border-top: 1px solid #fff;
}

.feature-bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-bottom li {
  display: inline-block;
}

.feature-bottom a {
  color: #605f63;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 1px 1px #fff;
  padding: 18px 15px;
}

.feature-bottom a:hover,
.feature-bottom a:focus {
  color: #000;
  text-decoration: underline;
}

/*************** END feature *************/

/*************** BEGIN footer *************/

footer {
  background: url("../img/bg_pattern.png");
  border-top: 4px solid #4e4e4e;
  color: #fff;
  font-weight: 100;
  padding-top: 36px;
  overflow: hidden;
}

footer nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer nav li {
  display: inline-block;
}

footer nav a {
  color: #fff;
  display: block;
  padding: 0 15px;
  text-decoration: none;
}

footer nav a:hover,
footer nav a:focus {
  text-decoration: underline;
}

footer article {
  margin-top: 16px;
}

footer article p {
  font-size: 10px;
  line-height: 2em;
  padding: 0 15px;
}

/*************** END footer *************/